body{

background-color: azure;



}
.produtostexto h1
.botaopreco p{

font-family: 'benthman' , serif;

}

.produtostexto h2 {

margin: 0 0 47px 38px;
font-size: 13px;
font-family: 'raleway', sans-serif;
font-weight: 400;
text-transform: uppercase;
color: ghostwhite;


}

.produtostexto p {

height: 225px;
padding-bottom: 100px;
margin: 0 0 47px 38px;
font-family: 'playfair display', serif;
color: ghostwhite;
line-height: 1.7em;
font-size: 15px;
font-weight: lighter;
overflow: hidden;

}

.botaopreco{

height: 103px;
padding-right: 50px;
width: 327px;
margin-top: 30px;
position: relative;


}

.botaopreco p {
display: inline-block;
position: absolute;
top: -13px;
height: 50px;
font-family: 'trocchi', serif;
margin: 0 0 0 50px;
font-size: 20px;
font-weight: lighter;
color: ghostwhite;


}

 span{

  display: inline-block;
  height: 110px;
  margin: auto;
  font-family: 'suranna', serif;


 }

 .botaopreco button {

  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 60px 0 16px;
  box-sizing: border-box ;
  border: transparent;
  border-radius: 60px;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: mintcream;
  background-color: ghostwhite;
  cursor: pointer;
  outline: none;

}

.botaopreco button:hover {

background-color: aliceblue;

}